In [8]:
import pandas as pd

df = pd.read_csv('RedditNews.csv')
print(df)

             Date                                               News
0      2016-07-01  A 117-year-old woman in Mexico City finally re...
1      2016-07-01   IMF chief backs Athens as permanent Olympic host
2      2016-07-01  The president of France says if Brexit won, so...
3      2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4      2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...
...           ...                                                ...
73603  2008-06-08  b'Man goes berzerk in Akihabara and stabs ever...
73604  2008-06-08  b'Threat of world AIDS pandemic among heterose...
73605  2008-06-08  b'Angst in Ankara: Turkey Steers into a Danger...
73606  2008-06-08  b"UK: Identity cards 'could be used to spy on ...
73607  2008-06-08  b'Marriage, they said, was reduced to the stat...

[73608 rows x 2 columns]

In [9]:
import re
def clean_text(text):
    match = re.search(r"b'(.*?)'", text)

    if match:
        extracted_text = match.group(1)
        text = extracted_text 
        
    match = re.search(r'b"(.*?)"', text)

    if match:
        extracted_text = match.group(1)
        text = extracted_text 
        
    return text

df['text'] = df['News'].apply(clean_text)
print(df)

             Date                                               News  \
0      2016-07-01  A 117-year-old woman in Mexico City finally re...
1      2016-07-01   IMF chief backs Athens as permanent Olympic host
2      2016-07-01  The president of France says if Brexit won, so...
3      2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4      2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...
...           ...                                                ...
73603  2008-06-08  b'Man goes berzerk in Akihabara and stabs ever...
73604  2008-06-08  b'Threat of world AIDS pandemic among heterose...
73605  2008-06-08  b'Angst in Ankara: Turkey Steers into a Danger...
73606  2008-06-08  b"UK: Identity cards 'could be used to spy on ...
73607  2008-06-08  b'Marriage, they said, was reduced to the stat...

                                                    text
0      A 117-year-old woman in Mexico City finally re...
1       IMF chief backs Athens as permanent Olympic host
2      The president of France says if Brexit won, so...
3      British Man Who Must Give Police 24 Hours' Not...
4      100+ Nobel laureates urge Greenpeace to stop o...
...                                                  ...
73603  Man goes berzerk in Akihabara and stabs everyo...
73604  Threat of world AIDS pandemic among heterosexu...
73605  Angst in Ankara: Turkey Steers into a Dangerou...
73606  UK: Identity cards 'could be used to spy on pe...
73607  Marriage, they said, was reduced to the status...

[73608 rows x 3 columns]

In [11]:
dji_stock_price_df = pd.read_csv("DJI_stock_data.csv")
print(dji_stock_price_df)

            Date         Close          High           Low          Open  \
0     2008-06-09  12280.320312  12331.860352  12195.320312  12210.129883
1     2008-06-10  12289.759766  12369.230469  12206.959961  12277.709961
2     2008-06-11  12083.769531  12286.669922  12079.129883  12286.339844
3     2008-06-12  12141.580078  12269.240234  12076.929688  12089.629883
4     2008-06-13  12307.349609  12310.280273  12144.589844  12144.589844
...          ...           ...           ...           ...           ...
2026  2016-06-24  17400.750000  17946.630859  17356.339844  17946.630859
2027  2016-06-27  17140.240234  17355.210938  17063.080078  17355.210938
2028  2016-06-28  17409.720703  17409.720703  17190.509766  17190.509766
2029  2016-06-29  17694.679688  17704.509766  17456.019531  17456.019531
2030  2016-06-30  17929.990234  17930.609375  17711.800781  17712.759766

         Volume
0     266350000
1     240760000
2     247120000
3     260960000
4     247980000
...         ...
2026  239000000
2027  138740000
2028  112190000
2029  106380000
2030  133030000

[2031 rows x 6 columns]

In [12]:
dji_stock_price_df = pd.read_csv("DJI_stock_data.csv")
dji_stock_price_df['Close_diff'] = dji_stock_price_df['Close'].shift(-1) - dji_stock_price_df['Close']
dji_stock_price_df['High_diff'] = dji_stock_price_df['High'].shift(-1) - dji_stock_price_df['High']
dji_stock_price_df['Low_diff'] = dji_stock_price_df['Low'].shift(-1) - dji_stock_price_df['Low']
dji_stock_price_df['Open_diff'] = dji_stock_price_df['Open'].shift(-1) - dji_stock_price_df['Open']
dji_stock_price_df['Open_Close_diff'] = dji_stock_price_df['Close'] - dji_stock_price_df['Open']

data_df = pd.merge(df, dji_stock_price_df, on='Date', how='inner')  
print(data_df)

             Date                                               News  \
0      2016-06-30  Jamaica proposes marijuana dispensers for tour...
1      2016-06-30  Stephen Hawking says pollution and 'stupidity'...
2      2016-06-30  Boris Johnson says he will not run for Tory pa...
3      2016-06-30  Six gay men in Ivory Coast were abused and for...
4      2016-06-30  Switzerland denies citizenship to Muslim immig...
...           ...                                                ...
50763  2008-06-09  b'Future of the United States of Europe in the...
50764  2008-06-09  b"'Military coup' in Zimbabwe as Mugabe is for...
50765  2008-06-09  b'Rising Oil Prices Spark Strikes in Spain and...
50766  2008-06-09  b'Chvez to FARC: Asks to end armed strugle, "T...
50767  2008-06-09       b'Fliers in for pain as airlines pack it in'

                                                    text         Close  \
0      Jamaica proposes marijuana dispensers for tour...  17929.990234
1      Stephen Hawking says pollution and 'stupidity'...  17929.990234
2      Boris Johnson says he will not run for Tory pa...  17929.990234
3      Six gay men in Ivory Coast were abused and for...  17929.990234
4      Switzerland denies citizenship to Muslim immig...  17929.990234
...                                                  ...           ...
50763  Future of the United States of Europe in the H...  12280.320312
50764  'Military coup' in Zimbabwe as Mugabe is force...  12280.320312
50765  Rising Oil Prices Spark Strikes in Spain and a...  12280.320312
50766  Chvez to FARC: Asks to end armed strugle, "The...  12280.320312
50767          Fliers in for pain as airlines pack it in  12280.320312

               High           Low          Open     Volume  Close_diff  \
0      17930.609375  17711.800781  17712.759766  133030000         NaN
1      17930.609375  17711.800781  17712.759766  133030000         NaN
2      17930.609375  17711.800781  17712.759766  133030000         NaN
3      17930.609375  17711.800781  17712.759766  133030000         NaN
4      17930.609375  17711.800781  17712.759766  133030000         NaN
...             ...           ...           ...        ...         ...
50763  12331.860352  12195.320312  12210.129883  266350000    9.439453
50764  12331.860352  12195.320312  12210.129883  266350000    9.439453
50765  12331.860352  12195.320312  12210.129883  266350000    9.439453
50766  12331.860352  12195.320312  12210.129883  266350000    9.439453
50767  12331.860352  12195.320312  12210.129883  266350000    9.439453

       High_diff   Low_diff  Open_diff  Open_Close_diff
0            NaN        NaN        NaN       217.230469
1            NaN        NaN        NaN       217.230469
2            NaN        NaN        NaN       217.230469
3            NaN        NaN        NaN       217.230469
4            NaN        NaN        NaN       217.230469
...          ...        ...        ...              ...
50763  37.370117  11.639648  67.580078        70.190430
50764  37.370117  11.639648  67.580078        70.190430
50765  37.370117  11.639648  67.580078        70.190430
50766  37.370117  11.639648  67.580078        70.190430
50767  37.370117  11.639648  67.580078        70.190430

[50768 rows x 13 columns]

In [13]:
data_df.drop('News', axis=1, inplace=True)

In [14]:
print(data_df)

             Date                                               text  \
0      2016-06-30  Jamaica proposes marijuana dispensers for tour...
1      2016-06-30  Stephen Hawking says pollution and 'stupidity'...
2      2016-06-30  Boris Johnson says he will not run for Tory pa...
3      2016-06-30  Six gay men in Ivory Coast were abused and for...
4      2016-06-30  Switzerland denies citizenship to Muslim immig...
...           ...                                                ...
50763  2008-06-09  Future of the United States of Europe in the H...
50764  2008-06-09  'Military coup' in Zimbabwe as Mugabe is force...
50765  2008-06-09  Rising Oil Prices Spark Strikes in Spain and a...
50766  2008-06-09  Chvez to FARC: Asks to end armed strugle, "The...
50767  2008-06-09          Fliers in for pain as airlines pack it in

              Close          High           Low          Open     Volume  \
0      17929.990234  17930.609375  17711.800781  17712.759766  133030000
1      17929.990234  17930.609375  17711.800781  17712.759766  133030000
2      17929.990234  17930.609375  17711.800781  17712.759766  133030000
3      17929.990234  17930.609375  17711.800781  17712.759766  133030000
4      17929.990234  17930.609375  17711.800781  17712.759766  133030000
...             ...           ...           ...           ...        ...
50763  12280.320312  12331.860352  12195.320312  12210.129883  266350000
50764  12280.320312  12331.860352  12195.320312  12210.129883  266350000
50765  12280.320312  12331.860352  12195.320312  12210.129883  266350000
50766  12280.320312  12331.860352  12195.320312  12210.129883  266350000
50767  12280.320312  12331.860352  12195.320312  12210.129883  266350000

       Close_diff  High_diff   Low_diff  Open_diff  Open_Close_diff
0             NaN        NaN        NaN        NaN       217.230469
1             NaN        NaN        NaN        NaN       217.230469
2             NaN        NaN        NaN        NaN       217.230469
3             NaN        NaN        NaN        NaN       217.230469
4             NaN        NaN        NaN        NaN       217.230469
...           ...        ...        ...        ...              ...
50763    9.439453  37.370117  11.639648  67.580078        70.190430
50764    9.439453  37.370117  11.639648  67.580078        70.190430
50765    9.439453  37.370117  11.639648  67.580078        70.190430
50766    9.439453  37.370117  11.639648  67.580078        70.190430
50767    9.439453  37.370117  11.639648  67.580078        70.190430

[50768 rows x 12 columns]

In [15]:
data_df.to_csv('train_data.csv', index=False)